.card {
  width: 250px;
  height: 230px;
  padding: 16px;
  background-color: lightblue;
  color: #fff;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.card:hover,
.card:active {
  background-color: #c0ddf5;
}

/* .Author {
    margin: 16px 0;
    color: #ccc;
} */
